
<div class="container mt-4" style="max-width:420px">
  <h3>Login</h3>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label">Username or Email</label>
      <input class="form-control" formControlName="usernameOrEmail" />
      <div *ngIf="loginForm.get('usernameOrEmail')?.invalid && loginForm.get('usernameOrEmail')?.touched" class="text-danger">
        Username or Email is required.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger small">
        Password is required and must contain at least: 1 uppercase letter/1 lowercase letter/1 number
        /1 special character/Min length 8
      </div>
    </div>
    <button class="btn btn-primary w-100">Login</button>
    <div class="text-end mt-2">
      <a routerLink="/forgot">Forgot password?</a>
    </div>
    <p class="mt-2">Don't have an account? <a routerLink="/register">Sign up</a></p>
  </form>
</div>
