<div>
  <ul class="nav nav-tabs flex-nowrap mb-0">
    <li class="nav-item" *ngFor="let item of mainTabs">
      <a class="nav-link px-3 fw-semibold" [routerLink]="item.route" routerLinkActive="active">
        {{ item.name }}
      </a>
    </li>
  </ul>
</div>
<!--<div *ngIf="isAdmin" class="d-flex flex-wrap gap-3 p-2 bg-light border-bottom">
  <a class="text-decoration-none" href="#">Associated Workshops</a>
  <a class="text-decoration-none" href="#">Activate e-payment now</a>
  <a class="text-decoration-none" href="#">Integrations</a>
  <a class="text-decoration-none" href="#">Templates</a>
</div>-->
<router-outlet></router-outlet>

