<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center">
      <img src="Workshop.jpg" alt="Logo" width="70" height="70" class="me-2" />
      <h2 class="mb-0">WORKSHOP</h2>
    </div>

  
    <div class="text-white fw-bold text-center flex-grow-1">
      <h2 class="mb-0">
        SRINIVASA ROAD TRANSPORT <br /> PRIVATE LIMITED
      </h2>
    </div>

    <div *ngIf="!isLoggedIn" class="ms-auto">
      <button class="btn btn-success" routerLink="/login">Login</button>
      <button class="btn btn-success ms-2" routerLink="/register">Sign up</button>
    </div>
    <div *ngIf="isLoggedIn && user" class="dropdown ms-auto">
      <a class="dropdown-toggle text-decoration-none text-white fw-bold"
         href="#"
         role="button"
         data-bs-toggle="dropdown"
         aria-expanded="false">
        {{ user?.username || 'User' }}
        <i class="bi bi-person-circle fs-5"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end p-3" style="width: 320px;">
        <li><strong>{{ user?.username || 'No Name' }}</strong></li>
        <li>{{ user?.email || 'No Email' }}</li>
        <li><span class="badge bg-info">{{ role }}</span></li>
        <hr />
        <div class="d-flex flex-wrap gap-2">
          <button class="btn btn-secondary btn-sm" (click)="book()">Book Appointment</button>
          <button class="btn btn-success btn-sm" (click)="goToRepairOrder()">Repair Order</button>
          <button class="btn btn-success btn-sm" (click)="goToSparePartDetails()">Spare Part Issue</button>
          <button class="btn btn-success btn-sm" (click)="goToJobObserveDetails()">Job Observe</button>
          <button class="btn btn-success btn-sm" (click)="goToSupervisorDetails()">Supervisor</button>
          <button class="btn btn-primary btn-sm" (click)="goToLabourDetails()">Labour</button>
          <button class="btn btn-primary btn-sm" (click)="viewProfile()">My Profile</button>
          <button class="btn btn-danger btn-sm" (click)="logout()">Logout</button>
        </div>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="isLoggedIn" class="tab-container">
  <button *ngIf="showLeftArrow"
          class="scroll-btn left-btn"
          (click)="scrollTabs(-200)">
    <i class="bi bi-chevron-left"></i>
  </button>
  <div class="scrollable-tabs flex-grow-1" #tabScroll>
    <a *ngFor="let tab of mainTabs"
       class="nav-link d-inline-block px-3"
       [routerLink]="tab.route"
       routerLinkActive="active">
      {{ tab.name }}
    </a>
  </div>

  <button *ngIf="showRightArrow"
          class="scroll-btn right-btn"
          (click)="scrollTabs(200)">
    <i class="bi bi-chevron-right"></i>
  </button>
</div>

<router-outlet></router-outlet>
