<div class="container mt-4" style="max-width:420px">
  <h2>Reset Password</h2>

  <div *ngIf="msg" class="alert alert-success">{{ msg }}</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <form [formGroup]="form" (ngSubmit)="resetPasswordM()">
    <label class="form-label">Email</label>
    <input type="email" class="form-control mb-2" formControlName="email" readonly />

    <label class="form-label">New Password</label>
    <input type="password" class="form-control mb-2" formControlName="newPassword" />

    <label class="form-label">Confirm Password</label>
    <input type="password" class="form-control mb-2" formControlName="confirmPassword" />

    <button class="btn btn-success w-100 mt-2" [disabled]="form.invalid">Change Password</button>
  </form>
</div>
