<div class="container mt-4" style="max-width:420px">
  <h3>Reset Password</h3>
  <div *ngIf="msg" class="alert alert-success">{{ msg }}</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label">Email or Username</label>
      <input class="form-control" formControlName="emailOrUsername" />
    </div>
    <div class="mb-3">
      <label class="form-label">Token</label>
      <input class="form-control" formControlName="token" />
    </div>
    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input type="password" class="form-control" formControlName="newPassword" />
    </div>
    <button class="btn btn-primary w-100" [disabled]="form.invalid">Reset Password</button>
  </form>
</div>
