<ng-container *ngIf="form && activeTab">

  <!-- TABS -->
  <ul class="nav nav-pills mb-3 bg-primary p-2 rounded">
    <li class="nav-item" *ngFor="let tab of data.tabs">
      <a class="nav-link text-white"
         style="cursor:pointer"
         [ngClass]="{ 'active bg-success text-dark': activeTab === tab }"
         (click)="setTab(tab)">
        {{ tab.label }}
      </a>
    </li>
  </ul>

  <mat-dialog-content [formGroup]="form">

    <!-- TEXTAREA TAB -->
    <div *ngIf="activeTab.isTextarea">
      <textarea class="form-control"
                rows="5"
                [formControlName]="activeTab.tabKey">
      </textarea>

      <div class="text-danger small"
           *ngIf="form.get(activeTab.tabKey)?.touched &&
                  form.get(activeTab.tabKey)?.invalid">
        This field is required
      </div>
    </div>

    <!-- TABLE TAB -->
    <div *ngIf="!activeTab.isTextarea">
      <table class="table table-bordered table-sm">
        <thead class="text-center">
          <tr  class="text-center">
            <th *ngFor="let col of activeTab.columns">
              {{ col.header }}
            </th>
            <th *ngIf="activeTab.allowDelete">Action</th>
          </tr>
        </thead>

        <tbody [formArrayName]="activeTab.tabKey">
          <tr *ngFor="let row of getArray(activeTab).controls; let i = index"
              [formGroupName]="i">

            <td *ngFor="let col of activeTab.columns">
              <ng-container [ngSwitch]="col.type">
                <!-- Text Input -->
                <input *ngSwitchCase="'text'" class="form-control" [formControlName]="col.field">

                <!-- Number Input -->
                <input *ngSwitchCase="'number'" appTwoDecimalNumbers class="form-control" [formControlName]="col.field">

                <!-- Date Input -->
                <input *ngSwitchCase="'date'" type="date" class="form-control" [formControlName]="col.field">

                <!-- Select Input -->
                <select *ngSwitchCase="'select'" class="form-select" [formControlName]="col.field">
                  <option value="" selected>Select</option>
                  <option *ngFor="let opt of col.getOptions ? col.getOptions(row.value) : col.options" [value]="opt.value">
                    {{ opt.label }}
                  </option>
                </select>
              </ng-container>

              <!-- Validation Message -->
              <div class="text-danger small" *ngIf="row.get(col.field)?.touched && row.get(col.field)?.invalid">
                {{ getErrorMessage(row.get(col.field), col) }}
              </div>
            </td>
            <td *appHasRole="[ROLES.ADMIN]"  class="text-center">
              <button type="button"
                      class="btn btn-outline-danger btn-sm"
                      (click)="removeRow(activeTab, i)"
                      title="Delete">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions class="d-flex">
    <button *ngIf="activeTab.allowAdd"
            type="button"
            class="btn btn-primary btn-sm"
            (click)="addRow(activeTab)">
      + Add
    </button>

    <button type="button"
            class="btn btn-secondary btn-sm ms-auto"
            (click)="close()">
      Close
    </button>
  </mat-dialog-actions>

</ng-container>
