<div class="jobcard-wrapper position-relative mb-5">
  <div class="jobcard-header border p-3 d-flex justify-content-between align-items-center">
    <div class="d-flex gap-3 align-items-center">
      <div class="text-primary">Registration No. / Job Card No. </div> {{ vehicleDetails.regNo }}
    </div>

    <div class="d-flex gap-2 align-items-center">
      <select class="form-select form-select-sm" style="width: 100px">
        <option selected>English</option>
        <option>Telugu</option>
        <option>Hindi</option>
      </select>

      <button class="btn btn-sm btn-outline-secondary" (click)="openPreviousJobCardsPopup()">R</button>
      <div>Total Due: ₹{{ totalDue | number:'1.0-2' }}</div>
      <button class="btn btn-sm btn-outline-primary">Details</button>
    </div>
  </div>

  <!-- Arrow -->
  <button class="arrow-box position-absolute"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseVehicleDetails">
    ▼
  </button>

  <!-- Collapsible Section -->
  <div class="collapse collapse-popup" id="collapseVehicleDetails">
    <div class="border p-3 rounded shadow bg-white">

      <div class="table-responsive">
        <table class="table table-striped table-hover text-center local-table">
          <tbody>
            <tr>
              <th>Name</th>
              <td>{{ vehicleDetails.customerName }}</td>
              <th>Contact</th>
              <td>{{ vehicleDetails.mobile }}</td>
              <th>Email</th>
              <td>{{ vehicleDetails.email }}</td>
              <th>Odometer</th>
              <td>{{ vehicleDetails.odometer }}</td>
              <td>
                <button type="button" title="Edit" class="btn btn-primary btn-sm">
                  <i class="bi bi-pen"></i>
                </button>
              </td>
            </tr>

            <tr>
              <th>Vehicle</th>
              <td>{{ vehicleDetails.model }}</td>
              <th>Fuel Type</th>
              <td>{{ vehicleDetails.fuelType }}</td>
              <th>VIN</th>
              <td>{{ vehicleDetails.vin }}</td>
              <th>Engine No</th>
              <td>{{ vehicleDetails.engineNo }}</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<!-- Categories -->
<div class="slide-row">
  <div *ngFor="let c of serviceCategories" class="item fw-bold p-5 text-nowrap">
    <i class="bi" [ngClass]="c.icon"></i>
    <div class="text-primary d-flex">{{ c.label }}</div>
  </div>
</div>

<form [formGroup]="estimationForm">

  <!-- Add Item Section -->
  <div class="card">
    <div class="row m-2 px-2" formGroupName="addItemForm">

      <div class="col-md-3">
        <input type="text" class="form-control"
               placeholder="Search Part Name / Number"
               formControlName="search">
      </div>

      <div class="col-md-2">
        <select class="form-select" formControlName="workshopState">
          <option>In Workshop</option>
          <option>Delivered</option>
        </select>
      </div>

      <div class="col-md-1">
        <input appNumbersOnly class="form-control"
               placeholder="Qty"
               formControlName="quantity">
      </div>

      <div class="col-md-2">
        <input appTwoDecimalNumbers class="form-control"
               placeholder="Price"
               formControlName="unitPrice">
      </div>

      <div class="col-md-2">
        <select class="form-select" formControlName="serviceType">
          <option>Part</option>
          <option>Labour</option>
        </select>
      </div>

      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">+ Add Item</button>
      </div>

    </div>
  </div>

  <!-- Estimation Table -->
  <div class="table-responsive mt-3">
    <table class="table table-bordered table-sm text-center align-middle">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          <th>Part No</th>
          <th>Rate</th>
          <th>Discount</th>
          <th>HSN</th>
          <th>Tax %</th>
          <th>Tax Amt</th>
          <th>Total</th>
          <th>Approval</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody formArrayName="items">
        <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">

          <td>{{ i + 1 }}</td>
          <td>{{ item.value.name }}</td>
          <td>{{ item.value.type }}</td>
          <td>{{ item.value.partNo }}</td>

          <td>{{ item.value.rate }}</td>

          <td class="d-flex justify-content-end">
            <input style="width:100px" appNumbersOnly class="form-control form-control-sm"
                   formControlName="discount"
                   (input)="calculateTotals()">
          </td>

          <td>{{ item.value.hsn }}</td>
          <td>{{ item.value.taxPercent }}</td>
          <td>{{ item.value.taxAmount | number:'1.2-2' }}</td>
          <td>{{ item.value.total | number:'1.2-2' }}</td>

          <td>
            <select class="form-select form-select-sm">
            <option>Approved</option>
            <option>Rejected</option>
            <option>Pending</option>
            </select>
          </td>

          <td>
            <button type="button" class="btn btn-danger btn-sm"
                    (click)="removeRow(i)">
              X
            </button>
          </td>

        </tr>
      </tbody>

      <tfoot>
        <tr class="text-center">
          <td colspan="5" class="text-start fw-bold">Apply Discount:</td>
          <td class="d-flex justify-content-end">
            <input style="width:100px" type="number" class="form-control text-center" formControlName="discountInput" (input)="calculateTotals()" readonly />
          </td>
          <td colspan="6"></td>
        </tr>
        <tr>
          <td colspan="5" class="text-start fw-bold">Grand Total:</td> <!-- Discount Total -->
          <td class="fw-bold text-end">{{ totalDiscountAmount | number:'1.0-2' }}</td>
          <td colspan="2"></td> <!-- Tax Total -->
          <td class="fw-bold text-end">{{ totalTaxAmount | number:'1.0-2' }}</td> <!-- Final Amount After Applying Discount -->
          <td class="fw-bold text-end">{{ grossAmount | number:'1.0-2' }}</td>
          <td colspan="2"></td>
        </tr>

        <tr>
          <td colspan="11" class="text-start fw-bold">Discount:</td>
          <td class="fw-bold text-end">{{ totalDiscountAmount | number:'1.0-2' }}</td>
        </tr>

        <tr> <td colspan="11" class="text-start fw-bold">Round Off:</td> <td class="fw-bold text-end">{{ roundOffAmount | number:'1.0-2' }}</td> </tr>

        <tr>
          <td colspan="11" class="text-start fw-bold">Paid:</td>
          <td class="fw-bold text-end">
            <input appTwoDecimalNumbers formControlName="paidAmount"
                   class="form-control form-control-sm"
                   (input)="calculateTotals()">
          </td>
        </tr>
        <tr> <td colspan="11" class="text-start fw-bold">Balance:</td> <td class="fw-bold text-end">{{ balanceAmount | number:'1.0-2' }}</td> </tr>

      </tfoot>
    </table>
  </div>

</form>

<br />
<br />
<br />
<div class="fixed-bottom bg-white border-top shadow-sm px-3 py-2 d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center gap-3">
    <div class="dropup">
      <button class="btn btn-light btn-sm" data-bs-toggle="dropdown"><i class="bi bi-list fs-5"></i> </button>
      <ul class="dropdown-menu">

        <li>
          <a class="dropdown-item d-flex align-items-center gap-2"
             href="#"
             (click)="$event.preventDefault(); openPopupForBottomMenu('TYRE/BATTERY')">
            <i class="bi bi-disc text-primary"></i>
            TYRE / BATTERY
          </a>
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center gap-2"
             href="#"
             (click)="$event.preventDefault(); openPopupForBottomMenu('CANCELLED INVOICES')">
            <i class="bi bi-file-earmark-x text-primary"></i>
            CANCELLED INVOICES
          </a>
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center gap-2"
             href="#"
             (click)="$event.preventDefault(); openPopupForBottomMenu('SERVICE SUGGESTIONS')">
            <i class="bi bi-lightbulb text-primary"></i>
            SERVICE SUGGESTIONS
          </a>
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center gap-2"
             href="#"
             (click)="$event.preventDefault(); openPopupForBottomMenu('COLLECTIONS')">
            <i class="bi bi-cash-coin text-primary"></i>
            COLLECTIONS
          </a>
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center gap-2"
             href="#"
             (click)="$event.preventDefault(); openPopupForBottomMenu('REMARKS')">
            <i class="bi bi-chat-left-text text-primary"></i>
            REMARKS
          </a>
        </li>

      </ul>


    </div>
    <button class="btn btn-light btn-sm"> <i class="bi bi-printer fs-5"></i> </button>
    <button class="btn btn-light btn-sm"> <i class="bi bi-envelope fs-5"></i> </button>
    <button class="btn btn-light btn-sm"> <i class="bi bi-car-front fs-5"></i> </button>
    <button class="btn btn-light btn-sm"> <i class="bi bi-percent fs-5"></i> </button>
    <div>
      <button *ngIf="estimationForm.get('items')?.value.length > 0; else cancelBtn"
              class="btn btn-success btn-sm"
              (click)="markJobAsDone()">
        Job Done
      </button>
      <ng-template #cancelBtn>
        <button class="btn btn-danger btn-sm" (click)="cancelJobCard()">Cancel Job Card</button>
      </ng-template>
    </div>
  </div>
  <!-- RIGHT SECTION: ORDER PARTS -->
  <div>
    <button class="btn btn-primary btn-sm"> Order Parts </button>
  </div>
</div>
