<div class="autocomplete-container">
  <input type="text"
         class="form-control"
         [placeholder]="placeholder"
         [formControl]="control"
         (keydown)="onKeyDown($event)"
         autocomplete="off"
         spellcheck="false">

  <!-- Dropdown results -->
  <ul class="dropdown-list" *ngIf="results.length > 0">
    <li class="text-start" *ngFor="let item of results" (click)="choose(item)">
      <span [innerHTML]="highlight(item[displayKey])"></span>
    </li>
  </ul>

  <!-- No results -->
  <div class="no-results text-start" *ngIf="showNoResults">
    No results found.
  </div>
</div>
