.new-job-card-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.flex-wrap-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

  .flex-wrap-grid .col-md-4,
  .flex-wrap-grid .col-md-3 {
    flex: 1 1 300px;
    min-width: 250px;
  }

mat-expansion-panel .form-control,
mat-expansion-panel .form-select,
mat-expansion-panel .simple-icon-box {
  width: 100%;
}

.simple-icon-box {
  padding: 6px 10px;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
  background: #f5f5f5;
  white-space: nowrap; /* keeps text in one line */
}

  .simple-icon-box:hover {
    background: #e2e2e2;
    transform: translateY(-2px);
  }


.concern-item {
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 10px;
}

/* Header Colors */
.header-blue {
  background-color: #3f51b5;
  color: white;
}

.header-cyan {
  background-color: #00bcd4;
  color: white;
}

.header-pink {
  background-color: #ff69b4;
  color: white;
}

.header-yellow {
  background-color: #ffc107;
  color: white;
}

.header-green {
  background-color: #4caf50;
  color: white;
}
