<!--<div class="container mt-4" style="max-width:420px">
  <h3>Forgot Password</h3>


  <form [formGroup]="form" (ngSubmit)="submit()">
    <label class="form-label">Email</label>
    <input type="email" class="form-control mb-3" formControlName="emailOrUsername" placeholder="Enter your email" />
    <button class="btn btn-primary w-100" [disabled]="form.invalid">Send reset link</button>
  </form>

</div>-->
<div class="container mt-4" style="max-width:420px">
  <h3>Change Password</h3>

  <div *ngIf="msg" class="alert alert-success">{{ msg }}</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <form  [formGroup]="form" (ngSubmit)="checkEmail()">
    <label class="form-label">Email</label>
    <input type="email" class="form-control mb-3" formControlName="email" placeholder="Enter your email" />
    <button class="btn btn-primary w-100">Verify Email</button>
  </form>
</div>
