<!-- Booking Appointment Modal -->
<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">

      <div class="modal-header d-flex justify-content-between">
        <h2 class="modal-title">New Appointment</h2>
        <button type="button" class="btn btn-danger" (click)="closeModal()">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body bg-light">
        <form [formGroup]="appointmentForm" (ngSubmit)="onbookSubmit()" class="text-start">

          <label>Search</label>

          <app-autocomplete placeholder="Search by Reg No / Customer / Mobile / Email / VIN"
                            [searchFn]="service.searchBookingCustomer.bind(service)"
                            (selected)="onCustomerSelected($event)"
                            (clearForm)="resetAppointmentForm()">
          </app-autocomplete>
          <!-- <div class="input-group mb-3">
     <input type="text"
            class="form-control form-control-md"
            formControlName="search"
            placeholder="Search using Name / Mobile / Email / Reg No. / VIN" />
     <span class="input-group-text bg-white">
       <i class="bi bi-search"></i>
     </span>
   </div>
   <div *ngIf="f['search'].touched && f['search'].invalid" class="text-danger">
     Search is required.
   </div>-->

          <label>Select Date & Time</label>
          <div class="form-group d-flex mb-3 align-items-start">
            <div style="width: 55%;">
              <input type="date"
                     formControlName="date"
                     class="form-control form-control-md me-2"
                     [min]="minDate | date:'yyyy-MM-dd'">
              <div *ngIf="f['date'].touched && f['date'].invalid" class="text-danger"> Date is required. </div>
            </div>
            <div style="width: 35%;">
              <app-popup-time-picker [selectedDate]="appointmentForm?.get('date')?.value"
                                     (timeChange)="appointmentForm?.get('time')?.setValue($event)">
              </app-popup-time-picker>
              <div *ngIf="f['time'].touched && f['time'].invalid" class="text-danger"> Time is required. </div>
            </div>
          </div>
          <label>Customer Type</label>
          <div class="form-group d-flex mb-3">
            <div class="form-check me-3">
              <input class="form-check-input" type="radio" formControlName="customerType" value="Individual">
              <label class="form-check-label">Individual</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="customerType" value="Corporate">
              <label class="form-check-label">Corporate</label>
            </div>
          </div>
          <div *ngIf="f['customerType'].touched && f['customerType'].invalid" class="text-danger">
            Please select Customer Type.
          </div>

          <div *ngIf="f['customerType'].value === 'Individual'">

            <label>Registration No.</label>
            <div class="form-group mb-3 d-flex">
              <select formControlName="regPrefix" class="form-select form-select-md me-2" style="max-width: 100px;">
                <option value="TS">TS</option>
                <option value="AP">AP</option>
              </select>
              <input type="text" formControlName="regNo" class="form-control form-control-md" maxlength="8" placeholder="reg. Nu. format should be eg.12UK3456">
            </div>
            <div *ngIf="f['regNo'].touched && f['regNo'].invalid" class="text-danger">
              Registration No. must be 2 letters + 6 digits.
            </div>

            <label>Vehicle Type</label>
            <select formControlName="vehicleType" class="form-select form-select-md mb-3">
              <option value="">--Select Type--</option>
              <option *ngFor="let v of vehicleTypes" [value]="v">{{ v }}</option>
            </select>
            <div *ngIf="f['vehicleType'].touched && f['vehicleType'].invalid" class="text-danger">
              Vehicle Type is required.
            </div>

            <label>Customer Name</label>
            <input type="text" formControlName="customerName" class="form-control form-control-md mb-3">
            <div *ngIf="f['customerName'].touched && f['customerName'].errors" class="text-danger">
              <div *ngIf="f['customerName'].errors['required']">customerName name is required.</div>
              <div *ngIf="f['customerName'].errors['minlength']">Minimum 2 characters required.</div>
              <div *ngIf="f['customerName'].errors['maxlength']"> Maximum 25 characters allowed.</div>
              <div *ngIf="f['customerName'].errors['pattern']">No special characters allowed. Only alphabets and spaces allowed.</div>
            </div>

            <label>Mobile Number</label>
            <input type="text" formControlName="mobileNo" class="form-control form-control-md mb-3">
            <div *ngIf="f['mobileNo'].touched && f['mobileNo'].invalid" class="text-danger">
              Enter valid +91 and 10-digit mobile number.
            </div>

            <label>Email</label>
            <input type="email" formControlName="emailID" class="form-control form-control-md mb-3">
            <div *ngIf="f['emailID'].touched && f['emailID'].invalid" class="text-danger">
              Enter a valid email.
            </div>

            <label>Service</label>
            <input type="text" formControlName="service" class="form-control form-control-md mb-3">
            <div *ngIf="f['service'].touched && f['service'].invalid" class="text-danger">
              Service is required.
            </div>

            <label>Service Advisor</label>
            <select formControlName="serviceAdvisor" class="form-select form-select-md mb-3">
              <option value="">--Select Advisor--</option>
              <option *ngFor="let advisor of serviceAdvisors" [value]="advisor">{{ advisor }}</option>
            </select>
            <div *ngIf="f['serviceAdvisor'].touched && f['serviceAdvisor'].invalid" class="text-danger">
              Service Advisor is required.
            </div>

            <label>Settings</label>
            <input type="text" formControlName="settings" class="form-control form-control-md mb-3">
            <div *ngIf="f['settings'].touched && f['settings'].invalid" class="text-danger">
              Settings is required.
            </div>

            <label>Bay (Location)</label>
            <select formControlName="bay" class="form-select form-select-md mb-3">
              <option value="">--Select Bay--</option>
              <option *ngFor="let b of bays" [value]="b">{{ b }}</option>
            </select>
            <div *ngIf="f['bay'].touched && f['bay'].invalid" class="text-danger">
              Bay is required.
            </div>
          </div>

          <div class="form-group d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-secondary me-2" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
