.job-table {
  width: 100%;
  border-collapse: collapse;
}

  .job-table th,
  .job-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .job-table input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: left;
  }

.btn {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-add {
  background-color: #28a745;
  color: white;
}

.btn-submit {
  background-color: #007bff;
  color:white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.button-group .btn-add {
  margin-right: 10px; /* or 1rem for responsive spacing */
}
