
.btn {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-add {
  background-color: #28a745;
  color: white;
}

.btn-submit {
  background-color: #007bff;
  color: white;
}
.btn-danger {
  background-color: #e74c3c;
  color: white;
}

.btn-secondary {
  background-color: #7f8c8d;
  color: white;
}

.btn-primary {
  background-color: #3498db;
  color: white;
}

.button-group .btn-add {
  margin-right: 10px; /* or 1rem for responsive spacing */
}
